<div class="container mt-5 pt-5">
    <div class="col-12">

        <div class="row">
            <div class="col-12 pl-12 mt-12">
                <h1>Ranking Bancario</h1><br>                    
            </div>            
        </div>

        <div  class="row">
            <div  class="col-3">
            <select [(ngModel)]="GraficaSeleccionada">
                <option disable value="0">Seleccione una opción</option>
                <option disable value="1">Por Activo</option>
                <option disable value="2">Por Ranking</option>                
              </select>
            </div>
            <div  class="col-3">
              <td class="text-center"><button (click)="generarGrafica()"[disabled]="GraficaSeleccionada == 0" class="btn btn-sm btn-success">Generar Grafica <i class="fa fa-reply-all"></i> </button> </td>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12">
                <div class="chart-wrapper">
                    <canvas baseChart
                        [datasets]="lineChartData"
                        [labels] = "lineChartLabels"
                        [options] = "lineChartOptions"
                        [colors] = "lineChartColors"
                        [legend] = "lineChartLegend"
                        [chartType] = "lineCharType"
                        [plugins] = "lineChartPlugins">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
