<app-menu></app-menu>
<div class="container"  >
  <div class="row">
    <div class="col-3">

    </div>  
    <div class="col-6">
      <div class="table-responsive">
        <table class="table table-bordered border-primary" style="font-size:18px">
          <thead class="table-active">
            <tr>
              <th scope="col" class="text-left">Estudiante</th>
              <th scope="col" class="text-center">Carnet</th>
            </tr>
          </thead>
          <tbody style="font-size:11px">
            <tr>
              <th scope="col" class="text-left">José Alberto Velásquez Orozco</th>
              <th scope="col" class="text-center">200730448</th>
            </tr>
            <tr>
              <th scope="col" class="text-left">Carlos Augusto Bautista Salguero</th>
              <th scope="col" class="text-center">200815342</th>
            </tr>
            <tr>
              <th scope="col" class="text-left">Alberth Isaí Godinez Bautista</th>
              <th scope="col" class="text-center">2340146951202</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3">

    </div>  
  </div>
</div>
