<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered border-primary" style="font-size:15px" >
                    <thead>
                        <tr class="table-active">
                            <th></th>
                            <th colspan="8" scope="col" class="text-center">Año 2020</th>
                            <th colspan="5" scope="col" class="text-center">Año 2021</th>                            
                        </tr>
                    </thead>
                    <thead class="table-active">
                        <tr>
                            <th scope="col" class="text-center">PERFIL FINANCIERO</th>                            
                            <th scope="col" class="text-center">MAYO</th>
                            <th scope="col" class="text-center">JUNIO</th>
                            <th scope="col" class="text-center">JULIO</th>
                            <th scope="col" class="text-center">AGOSTO</th>
                            <th scope="col" class="text-center">SEPTIEMBRE</th>
                            <th scope="col" class="text-center">OCTUBRE</th>
                            <th scope="col" class="text-center">NOVIEMBRE</th>
                            <th scope="col" class="text-center">DICIEMBRE</th>
                            <th scope="col" class="text-center">ENERO</th>
                            <th scope="col" class="text-center">FEBRERO</th>
                            <th scope="col" class="text-center">MARZO</th>
                            <th scope="col" class="text-center">ABRIL</th>
                            
                        </tr>
                    </thead>
                    <tbody>                                              
                        <tr *ngFor="let listado of listadoFinancieros" style="font-size:9px">
                        <!--<tr>-->
                            <th scope="col" class="text-right">{{listado.nombre}}</th>
                            <th scope="col" class="text-right">{{listado.Mayo|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Junio|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Julio|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Agosto|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Septiembre|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Octubre|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Noviembre|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Diciembre|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Enero|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Febrero|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Marzo|currency:'Q.'}}</th>
                            <th scope="col" class="text-right">{{listado.Abril|currency:'Q.'}}</th>
                        </tr>
                     
                    </tbody>
                </table>
            </div>            
        </div>  
  </div>            
</div>

