<app-menu></app-menu>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="8" scope="col" class="text-left">Año 2020</th>
                            <th colspan="5" scope="col" class="text-left">Año 2021</th>                            
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col" class="text-left">Perfil Financiero</th>                            
                            <th scope="col" class="text-left">Mayo</th>
                            <th scope="col" class="text-left">Junio</th>
                            <th scope="col" class="text-left">Julio</th>
                            <th scope="col" class="text-left">Agosto</th>
                            <th scope="col" class="text-left">Septiembre</th>
                            <th scope="col" class="text-left">Octubre</th>
                            <th scope="col" class="text-left">Noviembre</th>
                            <th scope="col" class="text-left">Diciembre</th>
                            <th scope="col" class="text-left">Enero</th>
                            <th scope="col" class="text-left">Febrero</th>
                            <th scope="col" class="text-left">Marzo</th>
                            <th scope="col" class="text-left">Abril</th>
                            
                        </tr>
                    </thead>
                    <tbody>                                              
                        <!--<tr *ngFor="let listado of listadoFinancieros">-->
                        <tr>
                            <th scope="col" class="text-left">Banco</th>
                            <th scope="col" class="text-left">1</th>
                            <th scope="col" class="text-left">2</th>
                            <th scope="col" class="text-left">3</th>
                            <th scope="col" class="text-left">4</th>
                            <th scope="col" class="text-left">5</th>
                            <th scope="col" class="text-left">6</th>
                            <th scope="col" class="text-left">7</th>
                            <th scope="col" class="text-left">8</th>
                            <th scope="col" class="text-left">9</th>
                            <th scope="col" class="text-left">10</th>
                            <th scope="col" class="text-left">11</th>
                            <th scope="col" class="text-left">12</th>                            
                        </tr>
                     
                    </tbody>
                </table>
            </div>            
        </div>  
  </div>            
</div> 

